<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://unpkg.com/@antv/data-set@0.11.8/build/data-set.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0-rc.2/echarts-en.min.js"></script>
    <title>自定义地图底图</title>
</head>

<body>
<div id="mall_map" class="mall_map"></div>
</body>

</html>
<script type="text/javascript">

    $(function()
    {
        var option
        var myChart

        $.getJSON('http://testcdn.zhimatech.com/map.json', function (value) {
                console.log(value)
                myChart = echarts.init(document.getElementById("mall_map"));
                echarts.registerMap('mallMap', value);
                option = {
                    title: {
                        show: false
                    },

                    tooltip: {
                        trigger: 'item',

                    },
                    geo: {
                        map: 'mallMap',
                        roam: true,
                        zlevel: -1,
                        label: {
                            normal: {
                                show: true,
                                color: '#ffffff',
                            },
                            emphasis: {
                                color: '#ffffff',
                            }
                        },
                        itemStyle: {
                            normal: {
                                shadowColor: 'rgba(1, 125, 255, 0.5)',
                                shadowBlur: 1,
                                areaColor: '#092449',
                                color: '#017DFF',
                                borderColor: '#017DFF',
                                borderWidth: 2
                            },
                            emphasis: {
                                shadowColor: 'rgba(1, 125, 255, 0.5)',
                                shadowBlur: 1,
                                areaColor: '#092449',
                                color: '#017DFF',
                                borderColor: '#017DFF',
                                borderWidth: 2
                            },
                            textFixed: {
                                Alaska: [20, -20]
                            },
                        },
                        regions: []
                    },
                    series: [
                        {
                            name: "customer1",
                            type: 'lines',
                            coordinateSystem: 'geo',
                            zlevel: 3,
                            polyline: true,

                            symbol: ['none',
                                'arrow'
                            ],
                            //线特效配置
                            effect: {
                                show: true,
                                period: 3,
                                trailLength: 0.1,
                                // symbol: 'circle', //标记类型
                                symbol: 'pin',
                                loop: false,
                                symbolSize: 15
                            },
                            data: []
                        }

                    ]


                }
                myChart.setOption(option)


    });
    $.ajax({
        method:"get",
        dataType:"json",
        data:{},
        url:"/1F",
        success:function(result) {
            if (result) {
                console.info(result);
            }
            var testdata = [];
            var tempArr = [];
            for (var i = 0; i < result.length; i++) {
                tempArr.push(Number(result[i].x_id));
                tempArr.push(Number(result[i].y_id));
                testdata.push(tempArr);
                tempArr = [];
            }
            console.log(testdata)

            option={
                series: [
                    {
                        name: "customer1",
                        type: 'lines',
                        coordinateSystem: 'geo',
                        zlevel: 3,
                        polyline: true,

                        symbol: ['none',
                            'arrow'
                        ],
                        //线特效配置
                        effect: {
                            show: true,
                            period: 3,
                            trailLength: 0.1,
                            // symbol: 'circle', //标记类型
                            symbol: 'pin',
                            loop: false,
                            symbolSize: 15
                        },
                        data:[{coords:testdata}]
                    }
                ]
            }
            myChart.setOption(option);

        }
        })
    })
</script>
<style type="text/css">
    .mall_map {
        width: 600px;
        height: 600px;
        background-color: #12192c;
    }
</style>